@model CS481_Hub.Models.IndexViewModel


@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @*Modify information page*@
        <dt>User Information: </dt>
        <dd>
            @*Im Trying to grab the current users Id to pass through to the controller*@

            @Html.ActionLink("ChrisPage", "UserExtEdit", "UserExt", new { id = HttpContext.Current.User.Identity.GetUserId() }, null))

        </dd>
        <dd>
            @Html.ActionLink("MyPage", "Index", "USER_EXT")

        </dd>

    </dl>
</div>
