
@{
    ViewBag.Title = "RandomFact";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

@{
    var activeAPIs = (List<String>)ViewData["apiList"];
}


<nav class="navbar navbar-default" style="background-color: #525050; margin-top: 40px;">
    <div class="container-fluid" style="margin-top: -35px;">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li style="font-size: 20px;"><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
                @if (activeAPIs.Contains("WeatherAPI"))
                {
                    <li style="font-size: 20px;"><a>@Html.ActionLink("Weather", "Weather", "Home")</a></li>
                }
                @if (activeAPIs.Contains("NewsAPI"))
                {
                    <li style="font-size: 20px;"><a>@Html.ActionLink("News", "News", "Home")</a></li>
                }
                @if (activeAPIs.Contains("TranslateAPI"))
                {
                    <li style="font-size: 20px;"><a>@Html.ActionLink("Translation", "Translation", "Home")</a></li>
                }
                @if (activeAPIs.Contains("RandomFactAPI"))
                {
                    <li style="font-size: 20px;"><a>@Html.ActionLink("Random Fact", "RandomFact", "Home", null, new { @style = "color: #0ce3ac;" })</a></li>
                }
            </ul>
        </div>
    </div>
</nav>


<h2>Random Math Fact</h2>
<p id="number"></p>
<button>Wow! Give an another!</button>



@* All Ajax public callback
    Can make cleaner by making object in helper section.*@
<script>
    $(document).ready(function () {

        $.get('http://numbersapi.com/random/math', function (data) {
            //console.log(data);
            $('#number').text(data);
        });
    });
</script>

<script>
    $("button").click(function () {
        location.reload();
    });
</script>

