
@{
    ViewBag.Title = "_EditProfileLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav">
    <a class="navbar-link">@Html.ActionLink("Edit Profile", "UserExtEdit", "UserExt")</a>
    <a class="navbar-link">@Html.ActionLink("API Selection", "Index", "API")</a>
</ul>

<div class="container body-content">
    @RenderBody()
    <hr />
</div>







@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
